#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	cargo build --release

# Restart on upgrade disconnects virtual devices, may be annoying
override_dh_installsystemd:
	dh_installsystemd -r --no-restart-after-upgrade
